.section-subtitle_theme_dark {
    color: white;
    position: relative;
    margin: 20px auto 0 auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    width: 60%;
    z-index: 1;
}
